body {
	background-color: #EEE;
	font-family: MonoSpace;
	text-align: center;
	font-size: 16px;
}

.topbar {
	border: solid;
	border-width: 4;
	border-color: #AAA;
	background-color: #CCC;
	text-align: left;
}

.topbar a {
	padding: 2px;
}

a {
	text-decoration: underline;
	color: black;
	transition: 200ms;
	padding: 1px;
}
a:hover {
	background-color: #CCC;
	border-radius: 4px;
	transition: 200ms;
}
.topbar a:hover {
	background: none;
	border: none;
}

.box {
	width: 50%;
	display: inline-block;
	float: center;
	background-color: #DDD;
	border: solid;
	border-width: 4;
	border-color: #BBB;
}
.box .box {
	width: 90%;
	background-color: #CCC;
}

.square-grid {
	float: center;
	width: 70%;
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
}

.square-grid div {
}

.square-grid div img {
	width: 100%;
	transition: 250ms;
	border-radius: 10%;
	cursor: pointer;
}

.square-grid div img:hover {
	transition: 250ms;
	border-radius: 5%;
	opacity: 75%;
}

.square-grid div img:active {
	transition: 250ms;
	opacity: 50%;
}

#popup {
	margin: 0;
	top: 0;
	left: 0;
	z-index: 100;
	position: fixed;
	background-color: rgba(.8, .8, .8, .2);
	backdrop-filter: blur(6px);
	width: 100%;
	height: 0;
	transition: 300ms;
	overflow: hidden;
}
#stuff-grid {
	display: inline-grid;
	position: relative;
	/*background-image: url("images/bg.png");
	background-repeat: none;
	background-position: center;
	background-attachment: relative;
	background-size: 100% auto;*/
	width: 50%;
	aspect-ratio: 16 / 9;
	border: 1px #333 solid;
	float: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 1fr 1fr;
}
.stuff-grid-div {
	position: relative;
	border: 2px #333 solid;
	cursor: pointer;
}
.stuff-grid-div a {
	border: none;
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	position: relative;
	float: center;
}
.stuff-grid-div a:hover {
	border: none;
	background: none;
	backdrop-filter: sepia(90%);
	transition: background-color backdrop-filter 100ms;
}
.stuff-grid-div:before {
	content: ' ';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center;
}
.stuff-grid-div:hover a {
	background-color: rgba(.5, .5, .5, .2);
}
#stuff-grid-one {
	grid-column: 1 / 3;
	grid-row: 1;
}
#stuff-grid-one:before {
	background-image: url("images/bg1.png");
}
#stuff-grid-two {
	grid-column: 3 / 5;
	grid-row: 1;
}
#stuff-grid-two:before {
	background-image: url("images/bg2.png");
}
#stuff-grid-three {
	grid-column: 1 / 2;
	grid-row: 2;
}
#stuff-grid-three:before {
	background-image: url("images/bg3.png");
}
#stuff-grid-four {
	grid-column: 2 / 4;
	grid-row: 2;
}
#stuff-grid-four:before {
	background-image: url("images/bg4.png");
}
#stuff-grid-five {
	grid-column: 4 / 5;
	grid-row: 2;
}
#stuff-grid-five:before {
	background-image: url("images/bg5.png");
}

img#banner-image {
	width: 100%;
}
