/* body */
body {

	color: #fdd;
	font-family: Monospace;
	font-size: 15px;
	/* font-family: Sans-Serif; */
}

.background {
	background-color: #522;
	text-align: center;
	background-image: url("two.jpg");
	background-repeat: repeat;
}

/* elements other than the top navbar */
.elems {
	
	align: center;
}

p {

	color: #fdd;
}

.box {

	padding: 10px;
	background-color: #750022;
	width: 50%;
	display: inline-block;
	/* align: center; */
	/* float: center; */
	position: relative;
	cursor: default;
}

.box p {
	
	cursor: default;
}

.topbar {

	text-align: left;
	width: 100%;
	position: relative;
	background-color: #333;
}

.topbar a {

	color: #fdd;
	background-color: #9C0044;
	position: relative;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
}

.topbar a:hover {

	background-color: #83033B;
}

.topbar a:active {

	background-color: #DB0060;
}

.topbar p {
	
	cursor: default;
}

.button {

	display: inline-block;
	border-width: 5px;
	border-color: #83033B;
	background-color: #9C0044;
	border-style: solid;
	border-radius: 10px;
	cursor: pointer;
	width: 15%;
}

.button:hover {

	background-color: #83033B;
}

.button:active {

	border-color: #65002C;
	background-color: #65002C;
}

.button a {

	text-decoration: none;
	color: #fdd;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

.button p {

	text-decoration: none;
	color: #fdd;
	padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
	display: block;
}

a {

	text-decoration: none;
	color: #dbb;
}
